<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='app.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	</head>
	<body style="padding-top: 65px;">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="{{url_for('showCatalog')}}">Catalog App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
          </li>
        </ul>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <a class="btn btn-sm btn-outline-light" href="#">Login</a>
        </div>
      </div>
    </nav>
<br>
    <div class="container">
      <!-- Example row of columns -->

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="row">
          <div class="col-md-12 flash">
            <ul>
              {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}
    {% endwith %}

      <div class="row">
        <div class="col-md-6">
          <h2>Edit Category</h2>
          <form action="" method = 'post'>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="name">Catalog name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{catalog.name}}" required>
                <div class="invalid-feedback">
                  Valid name is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">User</label>
                <input type="text" class="form-control" id="user_id" name="user_id" value="{{catalog.user_id}}" required disabled>
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Edit</button>
          </form>
        </div>
        <div class="col-md-6">
        </div>
      </div>

      <hr>

    </div> <!-- /container -->


	</body>
</html>
